In [1]:
# Default imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
train = pd.read_csv('train.csv', index_col='Id')
test = pd.read_csv('test.csv', index_col='Id')
train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [4]:
train.columns[:-1]

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition'],
      dtype='object')

First, let's concatenate the train and test data for faster features engineering.

In [5]:
train_last_id = train.shape[0]
y = train.SalePrice
df = pd.concat((train, test))
df.drop(['SalePrice'], axis=1, inplace=True)
df

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,...,SaleType,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
1,856,854,0,NaN,3,1Fam,TA,No,706.0,0.0,...,WD,0,Pave,8,856.0,AllPub,0,2003,2003,2008
2,1262,0,0,NaN,3,1Fam,TA,Gd,978.0,0.0,...,WD,0,Pave,6,1262.0,AllPub,298,1976,1976,2007
3,920,866,0,NaN,3,1Fam,TA,Mn,486.0,0.0,...,WD,0,Pave,6,920.0,AllPub,0,2001,2002,2008
4,961,756,0,NaN,3,1Fam,Gd,No,216.0,0.0,...,WD,0,Pave,7,756.0,AllPub,0,1915,1970,2006
5,1145,1053,0,NaN,4,1Fam,TA,Av,655.0,0.0,...,WD,0,Pave,9,1145.0,AllPub,192,2000,2000,2008
6,796,566,320,NaN,1,1Fam,TA,No,732.0,0.0,...,WD,0,Pave,5,796.0,AllPub,40,1993,1995,2009
7,1694,0,0,NaN,3,1Fam,TA,Av,1369.0,0.0,...,WD,0,Pave,7,1686.0,AllPub,255,2004,2005,2007
8,1107,983,0,NaN,3,1Fam,TA,Mn,859.0,32.0,...,WD,0,Pave,7,1107.0,AllPub,235,1973,1973,2009
9,1022,752,0,NaN,2,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,8,952.0,AllPub,90,1931,1950,2008
10,1077,0,0,NaN,2,2fmCon,TA,No,851.0,0.0,...,WD,0,Pave,5,991.0,AllPub,0,1939,1950,2008
11,1040,0,0,NaN,3,1Fam,TA,No,906.0,0.0,...,WD,0,Pave,5,1040.0,AllPub,0,1965,1965,2008
12,1182,1142,0,NaN,4,1Fam,TA,No,998.0,0.0,...,New,0,Pave,11,1175.0,AllPub,147,2005,2006,2006
13,912,0,0,NaN,2,1Fam,TA,No,737.0,0.0,...,WD,176,Pave,4,912.0,AllPub,140,1962,1962,2008
14,1494,0,0,NaN,3,1Fam,TA,Av,0.0,0.0,...,New,0,Pave,7,1494.0,AllPub,160,2006,2007,2007
15,1253,0,0,NaN,2,1Fam,TA,No,733.0,0.0,...,WD,0,Pave,5,1253.0,AllPub,0,1960,1960,2008
16,854,0,0,NaN,2,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,5,832.0,AllPub,48,1929,2001,2007
17,1004,0,0,NaN,2,1Fam,TA,No,578.0,0.0,...,WD,0,Pave,5,1004.0,AllPub,0,1970,1970,2010
18,1296,0,0,NaN,2,Duplex,NaN,NaN,0.0,0.0,...,WD,0,Pave,6,0.0,AllPub,0,1967,1967,2006
19,1114,0,0,NaN,3,1Fam,TA,No,646.0,0.0,...,WD,0,Pave,6,1114.0,AllPub,0,2004,2004,2008
20,1339,0,0,NaN,3,1Fam,TA,No,504.0,0.0,...,COD,0,Pave,6,1029.0,AllPub,0,1958,1965,2009
21,1158,1218,0,NaN,4,1Fam,TA,Av,0.0,0.0,...,New,0,Pave,9,1158.0,AllPub,240,2005,2006,2006
22,1108,0,0,Grvl,3,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,6,637.0,AllPub,0,1930,1950,2007
23,1795,0,0,NaN,3,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,7,1777.0,AllPub,171,2002,2002,2008
24,1060,0,0,NaN,3,TwnhsE,TA,No,840.0,0.0,...,WD,0,Pave,6,1040.0,AllPub,100,1976,1976,2007
25,1060,0,0,NaN,3,1Fam,TA,Mn,188.0,668.0,...,WD,0,Pave,6,1060.0,AllPub,406,1968,2001,2010
26,1600,0,0,NaN,3,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,7,1566.0,AllPub,0,2007,2007,2009
27,900,0,0,NaN,3,1Fam,TA,Mn,234.0,486.0,...,WD,0,Pave,5,900.0,AllPub,222,1951,2000,2010
28,1704,0,0,NaN,3,1Fam,TA,No,1218.0,0.0,...,WD,0,Pave,7,1704.0,AllPub,0,2007,2008,2010
29,1600,0,0,NaN,2,1Fam,TA,Gd,1277.0,0.0,...,WD,0,Pave,6,1484.0,AllPub,288,1957,1997,2006
30,520,0,0,NaN,1,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,4,520.0,AllPub,49,1927,1950,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890,641,0,0,NaN,2,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,4,641.0,AllPub,184,1925,1950,2006
2891,967,671,0,NaN,4,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,6,967.0,AllPub,0,1957,1957,2006
2892,729,0,0,NaN,2,1Fam,NaN,NaN,0.0,0.0,...,WD,0,Pave,5,0.0,AllPub,0,1945,1950,2006
2893,1060,336,0,NaN,4,2fmCon,TA,Mn,0.0,0.0,...,WD,0,Pave,8,660.0,AllPub,0,1951,1951,2006
2894,576,360,0,NaN,2,1Fam,Fa,No,0.0,0.0,...,WD,0,Grvl,6,216.0,AllPub,0,1916,1950,2006
2895,1778,0,0,NaN,2,TwnhsE,TA,Gd,1573.0,0.0,...,New,153,Pave,5,1573.0,AllPub,123,2005,2006,2006
2896,1646,0,0,NaN,2,TwnhsE,TA,Gd,1564.0,0.0,...,WD,155,Pave,5,1594.0,AllPub,128,2004,2005,2006
2897,1625,0,0,NaN,3,1Fam,TA,Gd,776.0,0.0,...,WD,0,Pave,6,1625.0,AllPub,136,1979,1979,2006
2898,1664,0,0,NaN,4,Duplex,TA,Mn,0.0,0.0,...,WD,0,Pave,10,1664.0,AllPub,0,1978,1978,2006
2899,1491,0,0,NaN,3,1Fam,TA,No,0.0,0.0,...,WD,0,Pave,7,1491.0,AllPub,120,2001,2001,2006
2900,1210,0,0,NaN,3,1Fam,TA,Av,576.0,0.0,...,WD,0,Pave,6,1128.0,AllPub,0,1975,1975,2006
2901,1650,0,0,NaN,2,1Fam,TA,Gd,909.0,0.0,...,WD,138,Pave,6,1632.0,AllPub,0,1958,1958,2006
2902,1403,0,0,NaN,2,1Fam,TA,Av,1136.0,116.0,...,WD,0,Pave,5,1381.0,AllPub,0,2000,2000,2006
2903,1960,0,0,NaN,3,1Fam,Gd,Av,1350.0,0.0,...,New,0,Pave,8,1728.0,AllPub,172,2005,2006,2006
2904,1838,0,0,NaN,3,1Fam,TA,Gd,1455.0,0.0,...,New,0,Pave,9,1838.0,AllPub,161,2005,2006,2006
2905,1600,0,0,NaN,3,1Fam,NaN,NaN,0.0,0.0,...,WD,0,Pave,6,0.0,AllPub,0,1951,1951,2006
2906,1368,0,0,NaN,2,Duplex,TA,Gd,1243.0,0.0,...,WD,0,Pave,8,1288.0,AllPub,0,1997,1997,2006
2907,616,688,0,NaN,3,TwnhsE,TA,Mn,0.0,0.0,...,WD,0,Pave,5,264.0,AllPub,141,1977,1977,2006
2908,874,0,0,NaN,3,1Fam,TA,No,441.0,0.0,...,WD,0,Pave,5,864.0,AllPub,0,1968,2003,2006
2909,1652,0,0,NaN,4,Duplex,TA,No,149.0,0.0,...,WD,0,Pave,8,1652.0,AllPub,0,1970,1970,2006
2910,630,0,0,NaN,1,Twnhs,TA,Av,522.0,0.0,...,WD,0,Pave,3,630.0,AllPub,0,1970,1970,2006
2911,546,546,0,NaN,3,TwnhsE,TA,No,252.0,0.0,...,WD,0,Pave,5,546.0,AllPub,0,1972,1972,2006
2912,1360,0,0,NaN,3,1Fam,TA,Av,119.0,344.0,...,WD,0,Pave,8,1104.0,AllPub,160,1969,1979,2006
2913,546,546,0,NaN,3,Twnhs,TA,No,408.0,0.0,...,WD,0,Pave,5,546.0,AllPub,0,1970,1970,2006
2914,546,546,0,NaN,3,Twnhs,TA,No,0.0,0.0,...,WD,0,Pave,5,546.0,AllPub,0,1970,1970,2006
2915,546,546,0,NaN,3,Twnhs,TA,No,0.0,0.0,...,WD,0,Pave,5,546.0,AllPub,0,1970,1970,2006
2916,546,546,0,NaN,3,TwnhsE,TA,No,252.0,0.0,...,WD,0,Pave,6,546.0,AllPub,0,1970,1970,2006
2917,1224,0,0,NaN,4,1Fam,TA,No,1224.0,0.0,...,WD,0,Pave,7,1224.0,AllPub,474,1960,1996,2006
2918,970,0,0,NaN,3,1Fam,TA,Av,337.0,0.0,...,WD,0,Pave,6,912.0,AllPub,80,1992,1992,2006
2919,996,1004,0,NaN,3,1Fam,TA,Av,758.0,0.0,...,WD,0,Pave,9,996.0,AllPub,190,1993,1994,2006

## Missing data

In [6]:
print('{} NaN values'.format(df.isna().sum().sum()))

13965 NaN values

In [7]:
# get columns that contain null values
df.columns[df.isna().any()]

Index(['Alley', 'BsmtCond', 'BsmtExposure', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtFinType1', 'BsmtFinType2', 'BsmtFullBath', 'BsmtHalfBath',
       'BsmtQual', 'BsmtUnfSF', 'Electrical', 'Exterior1st', 'Exterior2nd',
       'Fence', 'FireplaceQu', 'Functional', 'GarageArea', 'GarageCars',
       'GarageCond', 'GarageFinish', 'GarageQual', 'GarageType', 'GarageYrBlt',
       'KitchenQual', 'LotFrontage', 'MSZoning', 'MasVnrArea', 'MasVnrType',
       'MiscFeature', 'PoolQC', 'SaleType', 'TotalBsmtSF', 'Utilities'],
      dtype='object')

In columns like Alley, a NaN value means the absence of the feature. So we'll fill them with 'None'.

In [8]:
cols = ['Alley', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
        'BsmtQual', 'Fence', 'FireplaceQu', 'GarageCond', 'GarageFinish',
        'GarageQual', 'GarageType', 'MiscFeature', 'PoolQC']
df.loc[:, cols] = df.loc[:, cols].fillna('None')
print('{} NaN values'.format(df[cols].isna().sum().sum()))

0 NaN values

In columns like GarageCars, a NaN value means the absence of the feature but unlike the previous columns these are numerical data. So we'll fill them with zeros.

In [9]:
cols = ['BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'BsmtFullBath', 'BsmtHalfBath',
        'GarageYrBlt', 'GarageArea', 'GarageCars', 'MasVnrArea', 'TotalBsmtSF']
df.loc[:, cols] = df.loc[:, cols].fillna(0)
print('{} NaN values'.format(df[cols].isna().sum().sum()))

0 NaN values

Columns like Electrical are categorical so can be filled with the most frequent value.

In [10]:
cols = ['Electrical', 'Exterior1st', 'Exterior2nd', 'Functional', 'KitchenQual', 'MasVnrType', 'MSZoning', 'SaleType']
for col in cols:
    df.loc[:, col].fillna(df[col].mode()[0], inplace=True)
print('{} NaN values'.format(df[cols].isna().sum().sum()))

0 NaN values

### LotFrontage

Since the area of each street connected to the house property most likely have a similar area to other houses in its neighborhood, we can fill in missing values with random numbers in the range(mean - std, mean + std).

In [11]:
df.loc[:, 'LotFrontage'] = df.groupby('Neighborhood')['LotFrontage'].transform(
    lambda x: x.fillna(np.random.randint(x.mean() - x.std(), x.mean() + x.std())))
df.loc[:, 'LotFrontage'] = df.LotFrontage.astype(int)

In [12]:
df.LotFrontage.head(10)

Id
1     65
2     80
3     68
4     60
5     84
6     85
7     75
8     69
9     51
10    50
Name: LotFrontage, dtype: int32

### Utilities

For this categorical feature, all records are 'AllPub', except for one 'NoSeWa' and 2 NA. Since the house with 'NoSewa' is in the training set, this feature won't help in predictive modeling. We can then safely remove it.

In [13]:
df.drop('Utilities', axis=1, inplace=True)

In [14]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [1stFlrSF, 2ndFlrSF, 3SsnPorch, Alley, BedroomAbvGr, BldgType, BsmtCond, BsmtExposure, BsmtFinSF1, BsmtFinSF2, BsmtFinType1, BsmtFinType2, BsmtFullBath, BsmtHalfBath, BsmtQual, BsmtUnfSF, CentralAir, Condition1, Condition2, Electrical, EnclosedPorch, ExterCond, ExterQual, Exterior1st, Exterior2nd, Fence, FireplaceQu, Fireplaces, Foundation, FullBath, Functional, GarageArea, GarageCars, GarageCond, GarageFinish, GarageQual, GarageType, GarageYrBlt, GrLivArea, HalfBath, Heating, HeatingQC, HouseStyle, KitchenAbvGr, KitchenQual, LandContour, LandSlope, LotArea, LotConfig, LotFrontage, LotShape, LowQualFinSF, MSSubClass, MSZoning, MasVnrArea, MasVnrType, MiscFeature, MiscVal, MoSold, Neighborhood, OpenPorchSF, OverallCond, OverallQual, PavedDrive, PoolArea, PoolQC, RoofMatl, RoofStyle, SaleCondition, SaleType, ScreenPorch, Street, TotRmsAbvGrd, TotalBsmtSF, WoodDeckSF, YearBuilt, YearRemodAdd, YrSold]
Index: []

[0 rows x 78 columns]

Now there are no null values.

### MSZoning

I don't know why but 'C' values in MSZoning are 'C (all)' in the table.

In [15]:
df.MSZoning.tail(30)

Id
2890         RM
2891         RM
2892    C (all)
2893    C (all)
2894    C (all)
2895         RM
2896         RM
2897         RL
2898         RL
2899         RL
2900         RL
2901         RL
2902         RL
2903         RL
2904         RL
2905         RL
2906         RM
2907         RM
2908         RL
2909         RL
2910         RM
2911         RM
2912         RL
2913         RM
2914         RM
2915         RM
2916         RM
2917         RL
2918         RL
2919         RL
Name: MSZoning, dtype: object

We better change them to 'C' to prevent misunderstanding.

In [16]:
df.loc[df.MSZoning == 'C (all)', 'MSZoning'] = 'C'
df.MSZoning.tail(30)

Id
2890    RM
2891    RM
2892     C
2893     C
2894     C
2895    RM
2896    RM
2897    RL
2898    RL
2899    RL
2900    RL
2901    RL
2902    RL
2903    RL
2904    RL
2905    RL
2906    RM
2907    RM
2908    RL
2909    RL
2910    RM
2911    RM
2912    RL
2913    RM
2914    RM
2915    RM
2916    RM
2917    RL
2918    RL
2919    RL
Name: MSZoning, dtype: object

## Label Encoding

Before we do Label Encoding we'll transform some numerical categorical data into str.

In [17]:
df.MSSubClass = df.MSSubClass.astype(str)

In [18]:
df.MSSubClass = df.MSSubClass.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['20', '30', '40', '45', '50', '60', '70', '75', '80', '85', '90', '120', '150', '160', '180', '190'])).cat.codes
df.LotShape = df.LotShape.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Reg', 'IR1', 'IR2', 'IR3'])).cat.codes
df.LandSlope = df.LandSlope.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Gtl', 'Mod', 'Sev'])).cat.codes
df.ExterQual = df.ExterQual.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po'])).cat.codes
df.ExterCond = df.ExterCond.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po'])).cat.codes
df.BsmtQual = df.BsmtQual.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po', 'None'])).cat.codes
df.BsmtCond = df.BsmtCond.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po', 'None'])).cat.codes
df.BsmtExposure = df.BsmtExposure.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Gd', 'Av', 'Mn', 'No', 'None'])).cat.codes
df.BsmtFinType1 = df.BsmtFinType1.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['GLQ', 'ALQ', 'BLQ', 'Rec', 'LwQ', 'Unf', 'None'])).cat.codes
df.BsmtFinType2 = df.BsmtFinType2.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['GLQ', 'ALQ', 'BLQ', 'Rec', 'LwQ', 'Unf', 'None'])).cat.codes
df.HeatingQC = df.HeatingQC.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po'])).cat.codes
df.KitchenQual = df.KitchenQual.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po'])).cat.codes
df.Functional = df.Functional.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Typ', 'Min1', 'Min2', 'Mod', 'Maj1', 'Maj2', 'Sev', 'Sal'])).cat.codes
df.FireplaceQu = df.FireplaceQu.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po', 'None'])).cat.codes
df.GarageFinish = df.GarageFinish.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Fin', 'RFn', 'Unf', 'None'])).cat.codes
df.GarageQual = df.GarageQual.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po', 'None'])).cat.codes
df.GarageCond = df.GarageCond.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'Po', 'None'])).cat.codes
df.PavedDrive = df.PavedDrive.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Y', 'P', 'N'])).cat.codes
df.PoolQC = df.PoolQC.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['Ex', 'Gd', 'TA', 'Fa', 'None'])).cat.codes
df.Fence = df.Fence.astype(pd.api.types.CategoricalDtype(ordered=True, categories=['GdPrv', 'MnPrv', 'GdWo', 'MnWw', 'None'])).cat.codes

## Create dummy variables

For the rest string features we'll create dummies.

In [19]:
df = pd.get_dummies(df, columns=df.select_dtypes(include=['object']).columns, drop_first=True)
df.shape

(2919, 201)

Split our data back into train and test

In [20]:
train = df[:train_last_id]
test = df[train_last_id:]

In [26]:
X = train

In [37]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=402,random_state=20)
model.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=402, n_jobs=1,
           oob_score=False, random_state=20, verbose=0, warm_start=False)

In [40]:
model.predict(test)

array([125933.36069652, 155216.25373134, 180843.37313433, ...,
       152252.91044776, 112239.43034826, 229112.94776119])

In [43]:
res = pd.DataFrame()
res['Id'] = test.index
res['SalePrice'] = model.predict(test)
res.to_csv('submission.csv',index=False)

## Sources

https://www.kaggle.com/serigne/stacked-regressions-top-4-on-leaderboard - This Kaggle Kernel was very helpful for me in creating this notebook.